/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}



/* ============================== SIDEBAR ============================== */

/* Style pour l'élément sidebar */
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #28536B;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}

/* Style pour l'élément sidebar ouvert */
.sidebar.open {
  width: 250px;
}

/* Style pour le logo et les détails dans la sidebar */
.sidebar .logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

/* Style pour l'icône dans les détails du logo */
.sidebar .logo-details .icon {
  opacity: 0;
  transition: all 0.5s ease;
}

/* Style pour le nom du logo dans les détails du logo */
.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}

/* Style pour l'icône et le nom du logo ouverts dans les détails du logo */
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
  opacity: 1;
}

/* Style pour le bouton dans les détails du logo */
.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

/* Style pour le bouton ouvert dans les détails du logo */
.sidebar.open .logo-details #btn {
  text-align: right;
}

/* Style pour l'icône dans la sidebar */
.sidebar i {
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}

/* Style pour la liste de navigation dans la sidebar */
.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
}

/* Style pour les éléments de liste dans la liste de navigation */
.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}

/* Style pour l'infobulle dans les éléments de liste */
.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}

/* Style pour l'infobulle lorsqu'on survole les éléments de liste */
.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}

/* Style pour les infobulles dans les éléments de liste lorsqu'on ouvre la sidebar */
.sidebar.open li .tooltip {
  display: none;
}

/* Style pour les éléments input dans la sidebar */
.sidebar input {
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #5EB1BF;
}

/* Style pour l'élément input ouvert dans la sidebar */
.sidebar.open input {
  padding: 0 20px 0 50px;
  width: 100%;
}

/* Style pour l'icône de recherche dans la sidebar */
.sidebar .bx-search {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #5EB1BF;
  color: #FFF;
}

/* Style pour l'icône de recherche survolée lorsque la sidebar est ouverte */
.sidebar.open .bx-search:hover {
  background: #5EB1BF;
  color: #FFF;
}

/* Style pour l'icône de recherche survolée lorsque la sidebar est fermée */
.sidebar .bx-search:hover {
  background: #FFF;
  color: #28536B;
}

/* Style pour les liens dans les éléments de liste de la sidebar, à l'exception des liens avec la classe .TEST */
.sidebar li a:not(.TEST) {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #28536B;
}

/* Style pour les liens survolés dans les éléments de liste de la sidebar */
.sidebar li a:hover {
  background: #FFF;
}

/* Style pour le nom des liens dans les éléments de liste de la sidebar */
.sidebar li a .links_name {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}

/* Style pour le nom des liens ouverts dans les éléments de liste de la sidebar */
.sidebar.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
}

/* Style pour les icônes et les noms de liens survolés dans les éléments de liste de la sidebar */
.sidebar li a:hover .links_name,
.sidebar li a:hover i {
  transition: all 0.5s ease;
  color: #28536B;
}

/* Style pour les icônes dans les éléments de liste de la sidebar */
.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}




/* Style pour l'élément de profil dans la sidebar */
.sidebar li.profile {
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #5EB1BF;
  transition: all 0.5s ease;
  overflow: hidden;
}

/* Style pour l'élément de profil ouvert dans la sidebar */
.sidebar.open li.profile {
  width: 250px;
}

/* Style pour les détails du profil dans l'élément de profil de la sidebar */
.sidebar li .profile-details {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

/* Style pour l'image de profil dans l'élément de profil de la sidebar */
.sidebar li img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}

/* Style pour le nom et le travail dans l'élément de profil de la sidebar */
.sidebar li.profile .name,
.sidebar li.profile .job {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}

/* Style pour le travail dans l'élément de profil de la sidebar */
.sidebar li.profile .job {
  font-size: 12px;
}

/* Style pour le bouton de déconnexion dans l'élément de profil de la sidebar */
.sidebar .profile #log_out {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #5EB1BF;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}

/* Style pour le bouton de déconnexion lorsque l'élément de profil est ouvert dans la sidebar */
.sidebar.open .profile #log_out {
  width: 50px;
  background: none;
}

/* Style pour la section d'accueil lorsqu'on ouvre la sidebar */
.sidebar.open ~ .home-section {
  left: 250px;
  width: calc(100% - 250px);
}

/* Style pour les éléments de liste avec l'icône de tâche dans la sidebar */
.Tache i {
  background: #FFF;
  color: #28536B;
  }

/* Style pour les éléments de liste avec l'icône de tâche survolés dans la sidebar */
.sidebar .Tache li {
  background: #fff;
  color: #28536B;
}

/* Style pour les liens avec la classe .Tache dans la sidebar */
.sidebar li a.Tache {
  background: #FFF;
  color: #28536B;
}

/* Style pour le nom des liens avec la classe .Tache dans la sidebar */
.sidebar li a.Tache .links_name.Tache {
  color: #28536B;
}




/* ============================== HOMESECTION ============================== */

/* Style pour la section d'accueil */
.home-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  margin: 0 auto;
}

/* Style pour le texte de la section d'accueil */
.home-section .text {
  color: #28536B;
  font-size: 6rem;
  font-weight: 500;
  margin: 18px 0;
  white-space: nowrap;
  margin-top: 10rem;
}

/* Style pour cacher les infobulles dans la sidebar sur les petits écrans */
@media (max-width: 420px) {
.sidebar li .tooltip{
  display: none;
}
}

/* Style pour le texte "Connecté en tant que" */
.ConnectAs {
  font-weight: bold;
  color: #28536B;
}

/* Style pour la deuxième ligne de texte */
.text2 {
  color: #28536B;
  font-size: 1rem;
  font-weight: 500;
  margin: 18px;
  align-self: center;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* Style pour la troisième ligne de texte */
.text3 {
  color: #28536B;
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
  max-width: 800px;
  margin-top: 8rem;
}

/* Style pour le texte "Planit" */
.Planit {
  font-weight: bold;
}






























/* ============================== TABLEAU ============================== */

/* Définition de l'image d'arrière-plan et des styles de base du body */
body {
  min-height: 100vh;
  background: url(images/html_table.jpg) center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styles du tableau principal */
main.table {
  width: 80vw;
  height: 85vh;
  background-color: #28536B;
  backdrop-filter: blur(7px);
  box-shadow: 0 .4rem .8rem #0005;
  border-radius: .8rem;
  overflow: hidden;
}

/* Styles de l'en-tête du tableau */
.table__header {
  width: 100%;
  height: 10%;
  background-color: #fff4;
  padding: .8rem 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Styles du titre du tableau */
.TableTitre{
  color: #fff;
  font-size: 3rem;
}

/* Styles du groupe de saisie de texte dans l'en-tête du tableau */
.table__header .input-group {
  width: 35%;
  height: 100%;
  background-color: #fff5;
  padding: 0 .8rem;
  border-radius: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: .2s;
}

/* Styles lorsqu'on passe la souris sur le groupe de saisie de texte */
.table__header .input-group:hover {
  width: 45%;
  background-color: #fff8;
  box-shadow: 0 .1rem .4rem #0002;
}

/* Styles de l'icône de loupe dans le groupe de saisie de texte */
.table__header .input-group img {
  width: 1.2rem;
  height: 1.2rem;
}

/* Styles de l'entrée de texte dans le groupe de saisie de texte */
.table__header .input-group input {
  width: 100%;
  padding: 0 .5rem 0 .3rem;
  background-color: transparent;
  border: none;
  outline: none;
}




/* FOND DE PAGE */
body {
  min-height: 100vh;
  background: url(images/html_table.jpg) center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* TABLEAU */
main.table {
  width: 80vw;
  height: 85vh;
  background-color: #28536B;

  backdrop-filter: blur(7px);
  box-shadow: 0 .4rem .8rem #0005;
  border-radius: .8rem;

  overflow: hidden;
}

/* EN-TÊTE DU TABLEAU */
.table__header {
  width: 100%;
  height: 10%;
  background-color: #fff4;
  padding: .8rem 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* TITRE DU TABLEAU */
.TableTitre{
  color: #fff;
  font-size: 3rem;
}

/* ZONE DE RECHERCHE */
.table__header .input-group {
  width: 35%;
  height: 100%;
  background-color: #fff5;
  padding: 0 .8rem;
  border-radius: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: .2s;
}

/* ZONE DE RECHERCHE AU SURVOL */
.table__header .input-group:hover {
  width: 45%;
  background-color: #fff8;
  box-shadow: 0 .1rem .4rem #0002;
}

/* ICÔNE DE RECHERCHE */
.table__header .input-group img {
  width: 1.2rem;
  height: 1.2rem;
}

/* CHAMP DE RECHERCHE */
.table__header .input-group input {
  width: 100%;
  padding: 0 .5rem 0 .3rem;
  background-color: transparent;
  border: none;
  outline: none;
}

/* CORPS DU TABLEAU */
.table__body {
  width: 95%;
  max-height: calc(89% - 1.6rem);
  background-color: #fffb;

  margin: .8rem auto;
  border-radius: .6rem;

  overflow: auto;
  overflow: overlay;
}

/* BARRE DE DÉFILEMENT */
.table__body::-webkit-scrollbar{
  width: 0.5rem;
  height: 0.5rem;
}

/* POUCES DE LA BARRE DE DÉFILEMENT */
.table__body::-webkit-scrollbar-thumb{
  border-radius: .5rem;
  background-color: #0004;
  visibility: hidden;
}

/* POUCES DE LA BARRE DE DÉFILEMENT AU SURVOL */
.table__body:hover::-webkit-scrollbar-thumb{
  visibility: visible;
}
  







table {
  width: 100%;
}

td img {
  width: 36px;
  height: 36px;
  margin-right: .5rem;
  border-radius: 50%;
  vertical-align: middle;
}

table, th, td {
  border-collapse: collapse;
  padding: 1rem;
  text-align: left;
}

thead th {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #d5d1defe;
  cursor: pointer;
  text-transform: capitalize;
}

tbody tr:nth-child(even) {
  background-color: #0000000b;
}

tbody tr {
  --delay: .1s;
  transition: .5s ease-in-out var(--delay), background-color 0s;
}

/* Masquage de la ligne */
tbody tr.hide {
  opacity: 0;
  transform: translateX(100%);
}

tbody tr:hover {
  background-color: #fff6 !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
  transition: .2s ease-in-out;
}

/* Masquage de la cellule */
tbody tr.hide td,
tbody tr.hide td p {
  padding: 0;
  font: 0 / 0 sans-serif;
  transition: .2s ease-in-out .5s;
}

/* Masquage de l'image dans la cellule masquée */
tbody tr.hide td img {
  width: 0;
  height: 0;
  transition: .2s ease-in-out .5s;
}



/* ================================= MEDIA QUERY ================================= */

@media (max-width: 1000px) {
  td:not(:first-of-type) {
    min-width: 12.1rem;
  }
}

/* ================================= TABLE HEADER ================================= */

thead th span.icon-arrow {
  display: inline-block;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  border: 1.4px solid transparent;
  text-align: center;
  font-size: 1rem;
  margin-left: .5rem;
  transition: .2s ease-in-out;
}

thead th:hover span.icon-arrow{
  border: 1.4px solid #5EB1BF;
}

thead th:hover {
  color: #5EB1BF;
}

thead th.active span.icon-arrow{
  background-color: #5EB1BF;
  color: #fff;
}

thead th.asc span.icon-arrow{
  transform: rotate(180deg);
}

thead th.active, tbody td.active {
  color: #5EB1BF;
}

/* ==================================== ICONES ==================================== */

.bx-search, .tablebtn {
  animation: none;
  text-decoration: none;
  color: black;
}

.bx-search, .tablebtn:hover {
  color: #5EB1BF;
}

.bx-search {
  color: black;
}

.bx-search:hover {
  color: #5EB1BF;
  cursor: pointer;
}

/* ==================================== BOUTON ==================================== */

.BoutonSupp {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  text-decoration: none;
}

.BoutonSupp:hover {
  color: #5EB1BF;
  cursor: pointer;
}







/* ============================== BOUTON AJOUTER UNE TACHE ============================== */

.btntest {
/* Apparence de base */
  background-color: #c2c2c2;
  color: #616161;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 4px 2px;
  transition-duration: 0.4s;
  text-decoration: none;
  display: inline-block;

  /* Position */
  text-align: center;
  position: absolute;
  margin: 0px 0px 0px 0px;
  bottom: 20px;
  right: 20px;
}

.btntest:hover {
/* Apparence au survol */
  background-color: #6ecfe0;
  color: white;
}

/* Bouton de suppression de tâche */
.BoutonSupp {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  text-decoration: none;
}

.BoutonSupp:hover {
  color: #5EB1BF;
  cursor: pointer;
}

/* Formulaire de création de tâche */
.FormInput{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  position: relative;
  max-width: 1500px;
  width: 100%;
  border-radius: 6px;
  padding: 30px;
  margin: 0 15px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.container header{
  position: relative;
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

.container header::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 3px;
  width: 27px;
  border-radius: 8px;
  background-color: #4070f4;
}

.container form{
  position: relative;
  margin-top: 16px;
  min-height: 490px;
  background-color: #fff;
  overflow: hidden;
}

.container form .form{
  position: absolute;
  background-color: #fff;
  transition: 0.3s ease;
}

.container form .form.second{
  opacity: 0;
  pointer-events: none;
  transform: translateX(100%);
}

form.secActive .form.second{
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
}

form.secActive .form.first{
  opacity: 0;
  pointer-events: none;
  transform: translateX(-100%);
}
.container form .title{
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  margin: 6px 0;
  color: #333;
}
.container form .fields{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
form .fields .input-field{
  display: flex;
  width: calc(100% / 3 - 15px);
  flex-direction: column;
  margin: 4px 0;
}
.input-field label{
  font-size: 12px;
  font-weight: 500;
  color: #2e2e2e;
}
.input-field input, select{
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  border-radius: 5px;
  border: 1px solid #aaa;
  padding: 0 15px;
  height: 42px;
  margin: 8px 0;
}
.input-field input :focus,
.input-field select:focus{
  box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}
.input-field select,
.input-field input[type="date"]{
  color: #707070;
}
.input-field input[type="date"]:valid{
  color: #333;
}
.container form button, .backBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  max-width: 200px;
  width: 100%;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 5px;
  margin: 25px 0;
  background-color: #4070f4;
  transition: all 0.3s linear;
  cursor: pointer;
}
.container form .btnText{
  font-size: 14px;
  font-weight: 400;
}

form button i,
form .backBtn i{
  margin: 0 6px;
}
form .backBtn i{
  transform: rotate(180deg);
}
form .buttons{
  display: flex;
  align-items: center;
}
form .buttons button , .backBtn{
  margin-right: 14px;
}

@media (max-width: 750px) {
  .container form{
      overflow-y: scroll;
  }
  .container form::-webkit-scrollbar{
     display: none;
  }
  form .fields .input-field{
      width: calc(100% / 2 - 15px);
  }
}

@media (max-width: 550px) {
  form .fields .input-field{
      width: 100%;
  }
}

.BoutonSupp {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  text-decoration: none;
}

.BoutonSupp:hover {
  color: #5EB1BF;
  cursor: pointer;
}








/* ============================== NOTIFICATION AJOUTER ============================== */

.notification {
  position: fixed;
  top: 10px;
  right: -200px;
  background-color: #57B88B;
  color: white;
  padding: 10px 40px 10px 20px;
  font-size: 18px;
  z-index: 9999;
  border-left: 5px solid #2ecc71;
  display: flex;
  align-items: center;
  border-radius: 5px;
  animation: slide-in 0.5s ease-out forwards;
}

@keyframes slide-in {
  from {
    right: -300px;
  }
  to {
    right: 10px;
  }
}

@keyframes slide-out {
  from {
    right: 10px;
  }
  to {
    right: -400px;
  }
}

.notification.hide {
  animation: slide-out 0.5s ease-out forwards;
}

.notification .icon {
  margin-right: 10px;
  font-size: 24px;
  color: white;
}

.notification .delete-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.notification .delete-icon:hover {
  color: #2ecc71;
}




/* ============================== NOTIFICATION ANNULER ============================== */

.notificationAnnuler {
  position: fixed;
  top: 10px;
  right: -200px;
  background-color: #DC5563;
  color: white;
  padding: 10px 40px 10px 20px;
  font-size: 18px;
  z-index: 9999;
  border-left: 5px solid #f44336;
  display: flex;
  align-items: center;
  border-radius: 5px;
  animation: slide-in 0.5s ease-out forwards;
}

@keyframes slide-in {
  from {
    right: -300px;
  }
  to {
    right: 10px;
  }
}

@keyframes slide-out {
  from {
    right: 10px;
  }
  to {
    right: -400px;
  }
}

.notificationAnnuler.hide {
  animation: slide-out 0.5s ease-out forwards;
}

.notificationAnnuler .icon {
  margin-right: 10px;
  font-size: 24px;
  color: white;
}

.notificationAnnuler .delete-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.notificationAnnuler .delete-icon:hover {
  color: #f44336;
}
